$primaryClr : #808080;
$secondaryClr : #d1d1d1; 

.footer-iconbox {
    display: flex;
    margin-left: 10px;
    font-size: 20px;
    color: $primaryClr;
    margin:32px;
} 
.footer-links {
    display: flex;
    justify-content: space-between;
    margin:25px;
    text-decoration: none;
    .link-container{
        display: flex;
        flex-direction: column;
        margin: 10px;
        li {
            box-sizing: border-box;
            margin-bottom: 16px;
            opacity: 0.7;
            color: $primaryClr;
            font-size: 10px;
            list-style: none;
        }
        &:hover {
            opacity: 1;
            color: $secondaryClr;
        }
    } 
} 
@media screen and (min-width: 539px) {
    .footer-iconbox {
        font-size: 20px; 
    } 
    .footer-links .link-container li {
        font-size: 10px;
    } 
}
@media screen and (min-width: 768px) { 
    .footer-iconbox {
        font-size: 30px;
    } 
    .footer-links .link-container li {
        font-size: 10px;
    } 
}
@media screen and (min-width: 992px) {
    .footer-iconbox {
        font-size: 40px;
    } 
    .footer-links .link-container li {
        font-size: 14px;
    } 
}
@media screen and (min-width: 1200px) {
    .footer-iconbox {
        margin:30px; 
    }
    .footer-links .link-container li {
        font-size: 20px;
    }  
}

