.popup-container{
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.75); 
    overflow: scroll !important;
}
.popup{
    position: relative;
    top: 0;
    left: 0;
    background-color: rgb(19, 19, 19); 
    border-radius: 15px;
    width: 380px;
    height: 900px;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
    /* z-index: 100; */
}
.click-left{
    position: absolute;
    top: 0;
    left: -250px;
    height:800px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0); 
}
.click-right{
    position: absolute;
    top: 0;
    right: -250px;
    height:800px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0); 
}
.reactplayer::before{
    position: relative;
    top: -10px;
    content: "";
    width: cover;
    border-radius: 5px;
    margin-top:10px; 
}
.close-button{
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 40px;
    color: white;    
}
.movie-logo-container{
    display: flex;
    margin-left: 30px;
}   
.info-movie-logo{
    position: absolute;
    top: 280px;
    width:250px;
}
.info-play-button{
    position: absolute;
    top: 400px;
    left: 35px;
    height: 50px;
    width: 120px;
    padding-top:5px ;
    padding-bottom:5px ;
    border-radius: 5px;
    color:black;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    z-index: 10;
}
.info-play-button:hover{
    background-color: rgba(255, 255, 255, 0.8);
}
.info-play-button:focus {
    outline:0;
}
.info-play-button-icon{
    margin-right: 10px;
    font-size: 20px;
}
.add-button{
    position: absolute;
    top: 400px;
    height: 50px;
    width: 160px;
    left: 170px;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}
.add-button:hover{
    background-color: rgba(83, 83, 83, 0.4);
}
.add-button:focus {
    outline:0;
}
.like-button{
    position: absolute;
    top: 400px;
    height: 50px;
    width: 160px;
    left: 230px;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}
.green{
    position: absolute;
    top: 400px;
    height: 50px;
    width: 160px;
    left: 230px;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    color: green;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}
.like-button:hover{
    background-color: rgba(83, 83, 83, 0.4);
}
.like-button:focus {
    outline:0;
}
.dislike-button{
    position: absolute;
    top: 400px;
    height: 50px;
    width: 160px;
    left: 290px;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}
.red{
    position: absolute;
    top: 400px;
    height: 50px;
    width: 160px;
    left: 290px;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    color: red;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}
.dislike-button:hover{
    background-color: rgba(83, 83, 83, 0.4);
}
.dislike-button:focus {
    outline:0;
}
.movie-title{
    position: absolute;
    top: 560px;
    left: 15px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 550px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight:900;
    font-size: 20px;
}
.movie-overview{
    position: absolute;
    top: 600px;
    left: 15px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 550px;
    color: white;
    font-size: 16px;
}
.infoMovie {
    display: flex;
    width: 200px;
}
span{
    color: white;
}
.movieExcerpt {
    width: 600px;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 100px;
}
.infoDetails {
    width: 200px;
    margin-top: 230px;
    margin-left: -88px;
}   
.extraInfo {
    color: grey;
    width: 400px;
    height: auto;
    margin: 20px;
} 
@media screen and (min-width: 539px) {
    .popup{
        border-radius: 5px;
        width: 600px;
        height: 900px;
        margin-left:auto;
        margin-right:auto;
    }
    .movie-overview{
        top: 200px;
    }
}
@media screen and (min-width: 768px) { 
    .popup{
        top: -100px;
        left: 0;
        width: 900px;
        height: 900px;
    }
    .movie-overview{
        top: 300px;
    }
}
@media screen and (min-width: 992px) {
    .popup{
        top: 0;
        left: 0;
        width: 900px;
        height: 900px;
    }
    .movie-overview{
        top: 350px;
    }
}
@media screen and (min-width: 1200px) {
    .popup{
        top: 0;
        left: 0;
        width: 900px;
        height: 900px;
    }
    .movie-overview{
        top: 600px;
        left:-10px;
    }
    .infoMovie {
        display: flex;
        width: 200px;
    }
    .infoDetails {
        width: 200px;
        margin-top: 40px;
        margin-left: 510px;
    }   
}