
.parent2{
  position: relative;
  top: 0;
  left: 0;
  opacity: 0.6;
  padding: 20px;
}
.parent2:hover {
  opacity: 1;
}

.cards-wrapper2 {
  display: flex;
  flex-wrap:wrap;
  width: 100vw;
}
h3{
  margin-left: 60px;
  margin-top: 50px;
}

.search-box2{
  position: absolute;
  top: 0;
  left: 400px;
  width: 100px;
}
.search-bar2{
  height: 30px;
  background-color: rgba(0,0,0,0.1);
  margin-left: 800px;
  margin-top: 50px;
  color: white;
  outline: none;
  border: none;
}