.cards-wrapper {
  position: relative;
  left: -20px;
  overflow: auto;
  display: flex;
}
.cards-wrapper::-webkit-scrollbar {
    display: none;
  }
h3{
  margin-left: 35px;
}
.cards-wrapper:hover .laneimg .logoimg {
  transform: translateX(-30%);
  transition-delay:1s;
}
.parent{
  position: relative;
    top: 0;
    left: 0;
    margin-left: 15px;
    opacity: 0.6;
}
.laneimg{
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    margin: 0 20px;
    flex: 0 0 19.7%;
    padding: 0;
    transition: linear 100ms;
    opacity: 0.6;
    border-radius: 5px;
}
.logoimg {
    position: absolute;
    top: 75px;
    left:33px;
    width: 200px;
    opacity: 0.6;
}

.laneimg:hover ~ .laneimg .logoimg {
    transform: translateX(30%);
    transition-delay:1s;
}
.logoimg:hover{
    opacity: 1;
}

.laneimg:hover{
    opacity: 1;
}
.parent:hover {
    transform: scale(1.1) !important;
    opacity: 1;
}
.container {
    display: flex;
    overflow: auto; 
    padding: 0;
}
.item:hover {
    transform: scale(1.1) !important;
}
.parent .popup {
    display: none;
    background-color: rgb(32, 32, 32);
  }
  .card-text{
    margin-top: 10px;
  }
.parent:hover .popup {
    display: block;
    width: 300px;
    height: 170px;
  }
.info-play-button {
    height: 50px;
    width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    background-color:white;
    color: black;
    border: none;
    z-index: 10;
  }
.info-play-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
.info-play-button:focus {
    outline: 0;
  }
.info-play-button-icon {
    margin-right: 10px;
    font-size: 20px;
  }
.add-button {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    left: 170px;
    color: white;
  }
  
.add-button:hover {
    background-color: rgba(83, 83, 83, 0.4);
  }
  
.add-button:focus {
    outline: 0;
  }
  
.like-button {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    left: 230px;
    color: white;
  }
  
.like-button:hover {
    background-color: rgba(83, 83, 83, 0.4);
  }
  
.like-button:focus {
    outline: 0;
  }
  
.green {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    left: 230px;
    color: green;
  }
  
.dislike-button {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    left: 290px;
    color: white;
  }
  
.dislike-button:hover {
    background-color: rgba(83, 83, 83, 0.4);
  }
  
.dislike-button:focus {
    outline: 0;
  }
  
.red {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    left: 290px;
    color: red;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .video{
      display: block;       
      background: #000;
      border: none;        
  }

  .laneimg:hover {
    width: 330px;
    height: 300px;
    background-color: rgba(26, 26, 26, 0.8);
  }
  .hide {
    display: none;
  }

  .buttons{
    display: flex;
    justify-content: space-between;
    
  }
  .yes{
    display: block;
  }
  .none{
    display: none;
  }

  .backdrop{
    position: relative;
    top: 0;
    left: 0;
    border-radius: 10px;
  }
  .backdrop_logo{
    position: absolute;
    top: 80px;
    left: 40px;
    width: 200px;
  }
