.cards-wrapper {
  overflow: auto;
  display: flex;
}
.cards-wrapper::-webkit-scrollbar {
    display: none;
  }
.parent{
  position: relative;
    top: 0;
    left: 0;
}
.laneimg{
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    margin: 0 10px;
    flex: 0 0 19.7%;
    padding: 0;
    transition: transform 100ms ease-in 100ms;
    opacity: 0.6;
}
.logoimg {
    position: absolute;
    top: 75px;
    left:33px;
    width: 200px;
    opacity: 0.6;
}
.cards-wrapper:hover .laneimg .logoimg {
    transform: translateX(-15%);
}
.laneimg:hover ~ .laneimg .logoimg {
    transform: translateX(15%);
}
.logoimg:hover{
    opacity: 1;
}
.laneimg:hover ~ .logoimg {
    opacity: 1;
}
.parent:hover {
    transform: scale(1.1) !important;
}
.container {
    display: flex;
    overflow: auto; 
    padding: 0;
}
.item {
    width: 300px;
    /* flex: 0 0 19.7%; */
    margin: 0 2px 0 0;
    padding: 0;
    transition: transform 100ms ease 100ms;
}
.container:hover .item {
    transform: translateX(-10%);
}
.item:hover ~ .item {
    transform: translateX(10%);
}
.item:hover {
    transform: scale(1.1) !important;
}