
.parent2{
  position: relative;
  top: 0;
  left: 0;
  opacity: 0.8;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
}
.parent2:hover {
  opacity: 1;
}

.cards-wrapper2 {
  margin-top: 30px;
  display: flex;
  flex-wrap:wrap;
  width: 100vw !important;
}
.title{
  margin-left: 40px;
  margin-top: 100px;
  font-size: 50px ;
}

.search-box2{
  position: fixed;
  top: 0;
  left: 400px;
  width: 100px;
  z-index: 1;
}
.search-bar2{
  height: 30px;
  background-color: rgba(0,0,0,0.1);
  margin-left: 800px;
  margin-top: 50px;
  color: white;
  outline: none;
  border: none;
}

.laneimg2:hover {
  width: 300px;
  height: 300px;
  background-color: rgba(26, 26, 26, 0.8);
}