.navigation{
    position: fixed !important;
    font-family: Helvetica;
    width: 100%;
    padding-top: 20px;
    z-index: 1;
    font-size: 20px;
}  
.logo{
    height: 30px;
}
.mr-auto{
    position: absolute;
    top: 10px;
    right: 30px;
    /* margin-left: 200px; */
    background-color: white !important;  
}
.film-nav{
    color: white !important;
}

p {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    background: #fff;
    background-clip: text;
  }
  
  span {
    position: relative;
  }
  span:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: #fff;
    bottom: 0px;
    transition: all 0.5s ease-out;
  }
  span:hover:before {
      transform: scaleY(0)
  }
@media screen and (min-width: 539px) {
    .navigation{
        font-size: 13px;
    } 
}
@media screen and (min-width: 768px) { 
    .navigation{
        font-size: 14px;
    }
}
@media screen and (min-width: 992px) {
    .navigation{
        font-size: 15px;
    }
}
@media screen and (min-width: 1200px) {  
    .navigation{
        font-size: 16px;
    }
}