.popup-container{
    position: relative;
    top: -900px;
    left: 0px;
    border-radius: 5px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.75); 
    z-index: 1;
}
.popup{
    position: relative;
    top: 0;
    left: 280px;
    background-color: rgb(19, 19, 19); 
    border-radius: 5px;
    width: 900px;
    height: 900px;
}
.reactplayer::before{
    position: relative;
    top: -10px;
    content: "";
    width: cover;
    border-radius: 5px;
    margin-top:10px; 
}