body{
    background-color: black !important;
    color: #f3f3f3 !important;
    font-family: Helvetica;
}

.navigation{
    position: fixed !important;
    font-family: Helvetica;
}  
p{
    font-family: Helvetica;
    font-size: 100px;
    color:#E50914;
} 
.background{
    width: 100%;
}
.logo{
    height: 30px;
}
.Discover{
    padding-top: 100px;
    padding-bottom: 100px;
}
.Film{
    padding-top: 100px;
    padding-bottom: 100px;
}
.play-button{
    position: absolute;
    top: 430px;
    left: 400px;
    padding-top:5px ;
    padding-bottom:5px ;
    padding-left:30px ;
    padding-right:30px ;
}
.info-button{
    position: absolute;
    top: 430px;
    left: 600px;
    padding-top:5px ;
    padding-bottom:5px ;
    padding-left:30px ;
    padding-right:30px ;
}
.movietitle{
    font-size: 100px;
    position: absolute;
    top: 100px;
    color: white;
}



body {
    background-color: black !important;
    color: white !important;
}

.navigation {
    position: fixed !important;
}

.background {
    width: 100%;
}

.header1 {
    font-family: 'Helvetica', sans-serif;
    font-size: medium;
}

/* .footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: auto;
    max-height: 500px;
    background: black;
    max-width: auto;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* color: white;   */

li {
    box-sizing: border-box;
    margin-bottom: 16px;
    min-width: 100px;

}

.footer-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    /* padding:30px; */
} 
.link-container{
    /* border: 2px solid white; */
    margin:40px;
}
.footer-iconbox {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    list-style: none;
    font-size: 10px;
    margin-left: auto;
    margin-left: 0;
} 

@media screen and (max-width: 539px) {
    .footer-iconbox {
        font-size: 10px;
    } 
}
@media screen and (max-width: 992px) {
    .footer-iconbox {
        font-size: 20px;
    } 
}
@media screen and (max-width: 2000px) {
    .footer-iconbox {
        font-size: 30px;
    } 
}