@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'), url(./fonts/Helvetica\ Neu\ Bold.ttf) format('truetype');
  }
  body{
    background-color: black;
    color: white;
}
/* lane1{
  margin-top: 300px;
} */
